{% extends 'base.html' %}
{% block content %}
{% load humanize %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<div class="row" >
    <h3> Select one of the beers bellow to fill your cup </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Picture</th>
                <th scope="col">Name</th>
                <th scope="col">Price per Liter</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for beer in beers %}
            <tr>
                <td>{{ beer.id }}</td>
                <td><img src="{{ beer.image.thumb.url }}" alt="{{ produto.nome }}"></td>
                <td> {{ beer.name }}</td>
                <td> {{ beer.cost_per_liter|intcomma }}</td>
                <td>
                <form method="POST" action="{% url 'beer_api' beer.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="times_used" value="1">
                    <button class="btn btn-primary" type="submit"> Serve Beer </button>
                </form>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}