.row {
  margin: 50px; /* this will add a margin of 20 pixels to all sides of the element */
  background-color: #532920 !important;
}

#table {
  background-color: #532920;
}

#animation-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90%;
}